version: "3.5"

services:
  go:
    build:
      context: .
    volumes:
      - .:/work
    working_dir: /work
    environment:
      - BUILDKITE_ANALYTICS_TOKEN
      - BUILDKITE_API_TOKEN
      - BUILDKITE_BRANCH
      - BUILDKITE_BUILD_NUMBER
      - BUILDKITE_BUILD_URL
      - BUILDKITE_COMMIT
      - BUILDKITE_JOB_ID
      - BUILDKITE_MESSAGE
      - BUILDKITE_ORGANIZATION_SLUG
      - BUILDKITE_TAG
      - GITHUB_TOKEN
      - GPG_SECRET_KEY_BASE64
  lint:
    image: golangci/golangci-lint:v1.55
    working_dir: /app
    volumes:
      - ..:/app
      - ~/.cache/golangci-lint/v1.55:/root/.cache
    command:
      - golangci-lint
      - run